{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron">
    <img id="img1" src="{% static "img/profile.jpg" %}" class="img-circle"  style="width:200px;height:200px"/>
    <h1 style="text-align: center;">Welcome to Miguel's World</h1>
    <br>
    <p>In the following site you will find some interesting information about the character Miguel Olivares. You will be able to send me an email to ask me any question, and you will know some person stuff. </p>
    <br>
    <p><a href="{% url 'question_create' %}" class="btn btn-lg btn-primary">Ask me something!</a></p>
</div>
{% endblock %}